<a href="https://colab.research.google.com/github/kabanyasu/safie-colab/blob/inagaki-review/PL%E9%85%8D%E8%B3%A6%E3%82%B3%E3%83%BC%E3%83%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## PLのファイルまでディレクトリを移動させる

In [3]:
cd /content/drive/MyDrive/100_業務関連/1011_セーフィー株式会社/PL

/content/drive/MyDrive/100_業務関連/1011_セーフィー株式会社/PL

## 読み込むファイルを指定する
- 以下のエクセルファイルのパスを指定する。
    - 〇月従業員一覧
    - 〇月個人コード順貼付データ
    - 〇月開発工数シート
    - マスタデータ
    - 全社費用配賦用GAS資料.xlsx

In [4]:
#5月従業員一覧からメールアドレスと氏名を取得する
employee_excel = '入力データ格納場所/5月従業員一覧.xlsx'
#5月個人コード順貼付データから氏名と勤務時間を取得する
kintai_excel = '入力データ格納場所/5月個人コード順貼付データ.xlsx'
#5月開発工数シートからメールアドレス、工数を取得する
kousu_excel = '入力データ格納場所/5月開発工数シート.xlsx'
#マスタ（メールアドレスの漏れを防止）※過去のエクセルシートにしかない
master_excel = '入力データ格納場所/old/３月配賦基準算定 勤怠データ修正版.xlsx'

#PL
PL_excel = '入力データ格納場所/全社費用配賦用GAS資料.xlsx'

### 従業員一覧読み込み

In [5]:
import numpy as np
import pandas as pd
name_and_address = pd.read_excel(employee_excel)

###個人コード一覧読み込み

In [6]:
category_name_hour = pd.read_excel(kintai_excel,
                                   header= None)

category_name_hour.head()

,0,1,2,3,4,5,6,7,8,9,...,351,352,353,354,355,356,357,358,359,360
0,部門名称,NaN,NaN,NaN,BU1営業部,BU1営業部,BU1営業部,BU1営業部,BU1営業部,BU1営業部,...,社長室,社長室,NaN,社長室,社長室,社長室,NaN,ESG推進室,ESG推進室,ESG推進室
1,NaN,合計,010000 第1BU,010100 第1BU営業部,20.0,22.0,42.0,52.0,65.0,74.0,...,188.0,333.0,339.0,501.0,502.0,503.0,100000 ESG推進室,100.0,337.0,338.0
2,NaN,【 計 329名 】,【 計 44名 】,【 計 27名 】,本多 桃子,村下 善恵,中根 ひとみ,永沢 篤,宮本 通世,岩渕 孝海,...,髙橋 由佳,西村 宣昭,白石 久也,工藤 克己,岡田 淳,岩田 彰一郎,【 計 3名 】,中内 陽子,松本 舞,宇治田 彩
3,出勤日数,5740.5,759.0,455.0,19.0,19.0,0.0,19.0,19.0,19.0,...,19.0,19.0,0.0,0.0,0.0,0.0,57.0,19.0,19.0,19.0
4,有休日数,407.5,53.0,26.5,3.0,0.0,0.0,1.0,2.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

### 開発工数シート読み込み

In [7]:
man_hours_pivot = pd.read_excel(kousu_excel,
                                #上から3行は説明書きの部分なのでスキップする
                                skiprows   = 3)

man_hours_pivot.head()

,行ラベル,0:保守、運用,49:次世代カメラ開発(SafieOne）,52:解析PF,53:AIApp,61:Enterprise Toolマイグレーション,63:在庫システム,64:Entrance2,65:鹿島建設DX PJ,68:i-PRO製PTZ,...,78:(旧62ソフトフェアPJ 代理店対応)⇒ソフトフェアPJ Agency Tool,79:(旧66)ソフトフェアPJ データ分析基盤,80:Pocket3,81:多台数対応,83:Pocket2+,84:メッシュWiFi,85:シェアプラス,86:Local Viewer,(空白),総計
0,a-baba@safie.jp,9488.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9488.0
1,a-hirakawa@safie.jp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9960.0
2,a-ninomiya@safie.jp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9171.0
3,a-ohkawa@safie.jp,589.0,3119.0,NaN,3275.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10362.0
4,a-shimoyamada@safie.jp,9257.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9257.0

### PL科目、金額読み込み

In [8]:
PL = pd.read_excel(PL_excel,sheet_name = 'PL',header = None)
PL.columns = ['PL科目','PL科目金額']

PL

     PL科目     PL科目金額
0      賞与        0.0
1   法定福利費  2266464.0
2   福利厚生費   267043.0
3     採用費  1343332.0
4   広告宣伝費        0.0
5    荷造運賃   536138.0
6     交際費   175575.0
7   旅費交通費   241439.0
8     通信費   800707.0
9    消耗品費  4075862.0
10  水道光熱費   798625.0
11    保険料   411113.0
12    修繕費    59497.0
13    研修費        0.0
14   地代家賃  8961834.0
15  支払手数料  9971422.0
16    諸会費     2833.0
17    会議費  2849910.0
18   租税公課  1753000.0
19   支払報酬        0.0
20  減価償却費  1385353.0
21     雑費   191552.0
22   為替差益        0.0
23    雑収入    50000.0
24   為替差損        0.0

### マスタ読み込み

In [9]:
#※oldのファイルから読み込んでいるため、更新必要？
master = pd.read_excel(master_excel,
                       sheet_name = 'マスタ')

master.head()

,給与データ,従業員一覧,アドレス,Unnamed: 3,Unnamed: 4,部門,工数按分対象
0,寺本 明穂,坂本 明穂,a-sakamoto@safie.jp,NaN,NaN,BU1営業部,NaN
1,ﾃﾞﾌﾞﾘｯﾄ ﾆﾉﾐﾔｱﾘｿﾝ,二宮 アリソン,a-ninomiya@safie.jp,NaN,NaN,開発本部（49）,1.0
2,小嶋 幸恵,NaN,NaN,NaN,NaN,BU1プロダクト部,1.0
3,澤田 香菜,谷野 香菜,k-tanino@safie.jp,NaN,NaN,開発本部（65）,1.0
4,吉田 暁人,NaN,NaN,NaN,NaN,開発本部（64）,1.0

##従業員一覧から名前とメールアドレスを取得

In [10]:
name_and_address = name_and_address[['氏名','メールアドレス']]

#半角・全角スペースが混同している可能性があるので、空白削除
name_and_address['氏名'] = name_and_address['氏名'].str.replace(' ', '')
name_and_address['氏名'] = name_and_address['氏名'].str.replace('　','')

name_and_address

        氏名                    メールアドレス
0    佐渡島隆平             sadox@safie.jp
1     下崎守朗              zksm@safie.jp
2     森本数馬           mkazuma@safie.jp
3     藤木麻那            manaty@safie.jp
4     横堀雅之               yok@safie.jp
..     ...                        ...
373    飯塚新        qc-staff01@safie.jp
374  水町佳奈子  mizumachi.kanako@safie.jp
375   長尾智子      nagao.tomoko@safie.jp
376   熊木美穂       kumaki.miho@safie.jp
377  大島麻美子     oshima.mamiko@safie.jp

[378 rows x 2 columns]

##マスタ読み込み

In [11]:
master = master[['給与データ','アドレス']]

#縦結合する上でカラム名が一致していたほうが、キレイに出力されるので変更する
master.columns = ['氏名','メールアドレス']

#半角・全角スペースが混同している可能性があるので、空白削除
master['氏名'] = master['氏名'].str.replace(' ', '')
master['氏名'] = master['氏名'].str.replace('　','')

master.head()

                氏名              メールアドレス
0             寺本明穂  a-sakamoto@safie.jp
1  ﾃﾞﾌﾞﾘｯﾄﾆﾉﾐﾔｱﾘｿﾝ  a-ninomiya@safie.jp
2             小嶋幸恵                  NaN
3             澤田香菜    k-tanino@safie.jp
4             吉田暁人                  NaN

In [12]:
name_and_address = pd.concat([name_and_address,master])
#重複削除
#後から結合ものを残したいので、keep=last
name_and_address = name_and_address.drop_duplicates(keep='last')
name_and_address = name_and_address.reset_index(drop = True,inplace = False)

name_and_address

        氏名             メールアドレス
0    佐渡島隆平      sadox@safie.jp
1     下崎守朗       zksm@safie.jp
2     森本数馬    mkazuma@safie.jp
3     藤木麻那     manaty@safie.jp
4     横堀雅之        yok@safie.jp
..     ...                 ...
408   石田諒子    r-saito@safie.jp
409   石山章子   n.suzuki@safie.jp
410   屋敷実咲  m-ohshima@safie.jp
411  斎藤永実果    e-nanbu@safie.jp
412   斉藤一貴    k-saito@safie.jp

[413 rows x 2 columns]

## 個人コード順貼付から部門名、時間、名前を取得

In [13]:
#NaNの部分に、「氏名」を入れて、行の意味を持たせる
category_name_hour.loc[2][0] = '氏名'
category_name_hour.index     = category_name_hour[0]
category_name_hour           = category_name_hour.drop(0,axis=1)

In [14]:
#必要な行のみを残す
category = category_name_hour.loc['部門名称']
name     = category_name_hour.loc['氏名']
hour     = category_name_hour.loc['出勤時間']

#縦表示させるため、転置する
category_name_hour = pd.DataFrame([category,name,hour]).T


#半角・全角スペースが混同している可能性があるので、空白削除
category_name_hour['氏名'] = category_name_hour['氏名'].str.replace(' ','')
category_name_hour['氏名'] = category_name_hour['氏名'].str.replace('　','')
category_name_hour[category_name_hour['氏名']=='中塚由征']

      部門名称    氏名      出勤時間
78  BU2営業部  中塚由征  0.764583

In [15]:
category_name_hour

       部門名称       氏名         出勤時間
1       NaN  【計329名】  2139.468056
2       NaN   【計44名】
3       NaN   【計27名】   177.186111
4    BU1営業部     本多桃子     8.202083
5    BU1営業部     村下善恵     7.886111
..      ...      ...          ...
356     社長室    岩田彰一郎          0.0
357     NaN    【計3名】    20.222222
358  ESG推進室     中内陽子       7.2625
359  ESG推進室      松本舞     6.517361
360  ESG推進室     宇治田彩     6.442361

[360 rows x 3 columns]

In [16]:
category_name_hour['出勤時間'].replace('　', np.nan, inplace=True)
category_name_hour['出勤時間'].replace(' ', np.nan, inplace=True)
category_name_hour['出勤時間'].fillna(0)
category_name_hour

       部門名称       氏名         出勤時間
1       NaN  【計329名】  2139.468056
2       NaN   【計44名】          NaN
3       NaN   【計27名】   177.186111
4    BU1営業部     本多桃子     8.202083
5    BU1営業部     村下善恵     7.886111
..      ...      ...          ...
356     社長室    岩田彰一郎     0.000000
357     NaN    【計3名】    20.222222
358  ESG推進室     中内陽子     7.262500
359  ESG推進室      松本舞     6.517361
360  ESG推進室     宇治田彩     6.442361

[360 rows x 3 columns]

In [17]:
category_name_hour[~category_name_hour['氏名'].str.contains('【')]['出勤時間'].sum()

2139.4680555555556

In [18]:
category_name_hour.dtypes

部門名称     object
氏名       object
出勤時間    float64
dtype: object

## 時間表記変更
- その都度修正する必要がある

##category_name_hourにメールアドレス列を追加する

In [19]:
category_name_hour_mail = pd.merge(category_name_hour,
                                   name_and_address,
                                   on='氏名',
                                   how='left')

print('結合に成功したのは、',str(len(category_name_hour_mail['メールアドレス'].dropna())),'件です。')

結合に成功したのは、 312 件です。

##工数ピボット貼付を読み込む

##工数ピボット貼付とcategory_name_hour_mailを結合して、工数別勤怠時間シートを再現する

In [20]:
man_hours_attendance_time = pd.merge(category_name_hour_mail,
                                     man_hours_pivot,
                                     left_on  = 'メールアドレス',
                                     right_on = '行ラベル',
                                     how      = 'left')

In [21]:
man_hours_attendance_time.to_excel('出力結果/勤怠時間シート.xlsx')

In [22]:
# 漏れの件数を見る
#man_hours_pivotは総計行有り
#man_hours_attendance_timeは総計行無し

#空白と総計行を考慮して、-2を入れて調節する
count_more = len(man_hours_pivot)-2 - len(man_hours_attendance_time['行ラベル'].dropna())
print('工数ピボットからメールアドレスを結合できなかった人は' + str(count_more) + '人です')

工数ピボットからメールアドレスを結合できなかった人は0人です

##部門時間配賦の計算に必要な部分のみを取り出す

In [23]:
#NaNだと処理できないので、半角スペースに変換
man_hours_attendance_time['行ラベル']= man_hours_attendance_time['行ラベル'].fillna(' ')

#行ラベルがある = 工数がある人
#行ラベルにメールアドレスのあるものを残して計算シートを作成する
department_allocation_calc = man_hours_attendance_time[man_hours_attendance_time['行ラベル'].str.endswith('.jp')]
department_allocation_calc.reset_index(drop = True,inplace = True)

department_allocation_calc

,部門名称,氏名,出勤時間,メールアドレス,行ラベル,0:保守、運用,49:次世代カメラ開発(SafieOne）,52:解析PF,53:AIApp,61:Enterprise Toolマイグレーション,...,78:(旧62ソフトフェアPJ 代理店対応)⇒ソフトフェアPJ Agency Tool,79:(旧66)ソフトフェアPJ データ分析基盤,80:Pocket3,81:多台数対応,83:Pocket2+,84:メッシュWiFi,85:シェアプラス,86:Local Viewer,(空白),総計
0,BU1プロダクト部,大友裕明,5.731944,otomo@safie.jp,otomo@safie.jp,4245.0,NaN,NaN,1681.0,NaN,...,NaN,NaN,NaN,1885.0,NaN,NaN,443.0,NaN,NaN,8254.0
1,BU1プロダクト部,島田祐輝,7.018056,shimada@safie.jp,shimada@safie.jp,1131.0,1007.0,NaN,2082.0,NaN,...,1137.0,NaN,NaN,453.0,NaN,NaN,NaN,NaN,NaN,10106.0
2,デザインセンター,植松裕美,7.627083,y-uematsu@safie.jp,y-uematsu@safie.jp,8410.0,1245.0,NaN,1328.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10983.0
3,BU1プロダクト部,ﾃﾞﾌﾞﾘｯﾄﾆﾉﾐﾔｱﾘｿﾝ,6.368750,a-ninomiya@safie.jp,a-ninomiya@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9171.0
4,BU1プロダクト部,松田一輝,6.446528,k-matsuda@safie.jp,k-matsuda@safie.jp,2935.0,NaN,NaN,974.0,489.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9283.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,業務システム部,千葉洋隆,6.379861,y-chiba@safie.jp,y-chiba@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9187.0
84,業務システム部,松山博樹,7.084722,h-matsuyama@safie.jp,h-matsuyama@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10202.0
85,業務システム部,伊藤史仁,7.502778,f-ito@safie.jp,f-ito@safie.jp,2331.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10804.0
86,業務システム部,吉川大樹,7.178472,t-yoshikawa@safie.jp,t-yoshikawa@safie.jp,2277.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10337.0
87,業務システム部,菊池将太郎,6.808333,s-kikuchi@safie.jp,s-kikuchi@safie.jp,5093.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9804.0

##時間を部門配賦する

In [24]:
#一単位当たりの時間を算出して新たな列として追加
department_allocation_calc['出勤時間/総計'] = department_allocation_calc['出勤時間'] / department_allocation_calc['総計']

department_allocation_calc

,部門名称,氏名,出勤時間,メールアドレス,行ラベル,0:保守、運用,49:次世代カメラ開発(SafieOne）,52:解析PF,53:AIApp,61:Enterprise Toolマイグレーション,...,79:(旧66)ソフトフェアPJ データ分析基盤,80:Pocket3,81:多台数対応,83:Pocket2+,84:メッシュWiFi,85:シェアプラス,86:Local Viewer,(空白),総計,出勤時間/総計
0,BU1プロダクト部,大友裕明,5.731944,otomo@safie.jp,otomo@safie.jp,4245.0,NaN,NaN,1681.0,NaN,...,NaN,NaN,1885.0,NaN,NaN,443.0,NaN,NaN,8254.0,0.000694
1,BU1プロダクト部,島田祐輝,7.018056,shimada@safie.jp,shimada@safie.jp,1131.0,1007.0,NaN,2082.0,NaN,...,NaN,NaN,453.0,NaN,NaN,NaN,NaN,NaN,10106.0,0.000694
2,デザインセンター,植松裕美,7.627083,y-uematsu@safie.jp,y-uematsu@safie.jp,8410.0,1245.0,NaN,1328.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10983.0,0.000694
3,BU1プロダクト部,ﾃﾞﾌﾞﾘｯﾄﾆﾉﾐﾔｱﾘｿﾝ,6.368750,a-ninomiya@safie.jp,a-ninomiya@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9171.0,0.000694
4,BU1プロダクト部,松田一輝,6.446528,k-matsuda@safie.jp,k-matsuda@safie.jp,2935.0,NaN,NaN,974.0,489.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9283.0,0.000694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,業務システム部,千葉洋隆,6.379861,y-chiba@safie.jp,y-chiba@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9187.0,0.000694
84,業務システム部,松山博樹,7.084722,h-matsuyama@safie.jp,h-matsuyama@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10202.0,0.000694
85,業務システム部,伊藤史仁,7.502778,f-ito@safie.jp,f-ito@safie.jp,2331.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10804.0,0.000694
86,業務システム部,吉川大樹,7.178472,t-yoshikawa@safie.jp,t-yoshikawa@safie.jp,2277.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10337.0,0.000694
87,業務システム部,菊池将太郎,6.808333,s-kikuchi@safie.jp,s-kikuchi@safie.jp,5093.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9804.0,0.000694

In [25]:
import re

In [26]:
department_allocation_calc.columns
#「\d」で数値が含まれているものを見つける
pj_list = [s for s in department_allocation_calc.columns if re.search(r'\d',s)]
pj_list

['0:保守、運用',
 '49:次世代カメラ開発(SafieOne）',
 '52:解析PF',
 '53:AIApp',
 '61:Enterprise Toolマイグレーション',
 '63:在庫システム',
 '64:Entrance2',
 '65:鹿島建設DX PJ',
 '68:i-PRO製PTZ',
 '69:MyPageと契約管理システム',
 '71:Pocket2 位置情報連携など機能追加/改良',
 '72:Safie API 組込販売改善',
 '73:SafieManagerV3',
 '74:MyPortal',
 '76:(旧59)ソフトフェアPJ Mobile App (2022)',
 '77:(旧60)ソフトフェアPJ Viewer (2022)',
 '78:(旧62ソフトフェアPJ 代理店対応)⇒ソフトフェアPJ Agency Tool',
 '79:(旧66)ソフトフェアPJ データ分析基盤',
 '80:Pocket3',
 '81:多台数対応',
 '83:Pocket2+',
 '84:メッシュWiFi',
 '85:シェアプラス',
 '86:Local Viewer']

In [27]:
#それぞれの部門に時間を配賦する
#部門の数が変動しやすいため、何かしら必要？
#正規表現で抽出してみる


pj_parcent_list = pd.DataFrame()

for pj_name in pj_list:
    pj_percent = department_allocation_calc[pj_name] * department_allocation_calc['出勤時間/総計']
    pj_parcent_list[pj_name] = pj_percent

In [28]:
#部門、氏名などの情報を付与する
information = department_allocation_calc[['部門名称','氏名','出勤時間','メールアドレス']]

time_department_allocation_complete = pd.concat([information, pj_parcent_list], axis=1)

time_department_allocation_complete.head(4)

,部門名称,氏名,出勤時間,メールアドレス,0:保守、運用,49:次世代カメラ開発(SafieOne）,52:解析PF,53:AIApp,61:Enterprise Toolマイグレーション,63:在庫システム,...,76:(旧59)ソフトフェアPJ Mobile App (2022),77:(旧60)ソフトフェアPJ Viewer (2022),78:(旧62ソフトフェアPJ 代理店対応)⇒ソフトフェアPJ Agency Tool,79:(旧66)ソフトフェアPJ データ分析基盤,80:Pocket3,81:多台数対応,83:Pocket2+,84:メッシュWiFi,85:シェアプラス,86:Local Viewer
0,BU1プロダクト部,大友裕明,5.731944,otomo@safie.jp,2.947917,NaN,NaN,1.167361,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.309028,NaN,NaN,0.307639,NaN
1,BU1プロダクト部,島田祐輝,7.018056,shimada@safie.jp,0.785417,0.699306,NaN,1.445833,NaN,NaN,...,0.790278,1.479167,0.789583,NaN,NaN,0.314583,NaN,NaN,NaN,NaN
2,デザインセンター,植松裕美,7.627083,y-uematsu@safie.jp,5.840278,0.864583,NaN,0.922222,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BU1プロダクト部,ﾃﾞﾌﾞﾘｯﾄﾆﾉﾐﾔｱﾘｿﾝ,6.368750,a-ninomiya@safie.jp,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.368750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##部門時間を縦計し易い形で保存

In [29]:
time_department_allocation_complete.to_excel('出力結果/時間部門配賦後.xlsx')

##PJ配賦時間縦計

In [30]:
PJ = time_department_allocation_complete

In [31]:
pj_sum_list = []
for pj_name in pj_list:
    pj_sum = PJ[pj_name].sum()
    pj_sum_list.append(pj_sum)

pj_sum_list


df_pj_sum = pd.DataFrame([pj_list,pj_sum_list]).T

df_pj_sum.columns = ['部門名称','出勤時間']
df_pj_sum['データ種別'] = '配賦用PJ'

# 保守・運用はDevに配賦するので除外する
df_pj_sum = df_pj_sum[df_pj_sum['部門名称']!='0:保守、運用']
df_pj_sum

                                           部門名称       出勤時間  データ種別
1                         49:次世代カメラ開発(SafieOne）  41.288194  配賦用PJ
2                                       52:解析PF  33.315972  配賦用PJ
3                                      53:AIApp  55.986806  配賦用PJ
4                    61:Enterprise Toolマイグレーション   2.026389  配賦用PJ
5                                     63:在庫システム   6.379861  配賦用PJ
6                                  64:Entrance2  33.851389  配賦用PJ
7                                  65:鹿島建設DX PJ   4.261111  配賦用PJ
8                                  68:i-PRO製PTZ   9.743056  配賦用PJ
9                            69:MyPageと契約管理システム  32.171528  配賦用PJ
10                   71:Pocket2 位置情報連携など機能追加/改良    15.9125  配賦用PJ
11                          72:Safie API 組込販売改善   9.193056  配賦用PJ
12                            73:SafieManagerV3  15.360417  配賦用PJ
13                                  74:MyPortal   5.646528  配賦用PJ
14           76:(旧59)ソフトフェアPJ Mobile App (2022)  23.647917  配賦用PJ
15               77:(旧60)ソフトフェアPJ Viewer (2022)  23.445139  配賦用PJ
16  78:(旧62ソフトフェアPJ 代理店対応)⇒ソフトフェアPJ Agency Tool  13.527778  配賦用PJ
17                     79:(旧66)ソフトフェアPJ データ分析基盤   27.83125  配賦用PJ
18                                   80:Pocket3   3.695833  配賦用PJ
19                                     81:多台数対応  15.599306  配賦用PJ
20                                  83:Pocket2+    4.31875  配賦用PJ
21                                  84:メッシュWiFi    2.75625  配賦用PJ
22                                    85:シェアプラス     3.7625  配賦用PJ
23                              86:Local Viewer   5.552778  配賦用PJ

In [32]:
df_pj_sum.to_excel('出力結果/PJ縦計データ.xlsx')

##Biz時間縦計

In [33]:
biz = pd.read_excel('出力結果/勤怠時間シート.xlsx')
biz

,Unnamed: 0,部門名称,氏名,出勤時間,メールアドレス,行ラベル,0:保守、運用,49:次世代カメラ開発(SafieOne）,52:解析PF,53:AIApp,...,78:(旧62ソフトフェアPJ 代理店対応)⇒ソフトフェアPJ Agency Tool,79:(旧66)ソフトフェアPJ データ分析基盤,80:Pocket3,81:多台数対応,83:Pocket2+,84:メッシュWiFi,85:シェアプラス,86:Local Viewer,(空白),総計
0,0,NaN,【計329名】,2139.468056,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,【計44名】,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,【計27名】,177.186111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,BU1営業部,本多桃子,8.202083,honda@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,BU1営業部,村下善恵,7.886111,murashita@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,355,社長室,岩田彰一郎,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,356,NaN,【計3名】,20.222222,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,357,ESG推進室,中内陽子,7.262500,y-nakauchi@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,358,ESG推進室,松本舞,6.517361,m-matsumoto@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,359,ESG推進室,宇治田彩,6.442361,a-ujita@safie.jp,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###biz部門ごとに縦計

In [36]:
#部門名称の列にNaNが存在すると実行できないので半角スペースに変換しておく
biz['部門名称']= biz['部門名称'].fillna(' ')

biz_list = ['社長室',
            '経営企画部',
            '人事総務部',
            '経理部',
            '法務部',
            '内部監査室',
            'BU1営業部',
            'BU2営業部',
            'BU3営業部',
            'アライアンス戦略室',
            'マーケティング部',
            'カスタマーコミュニケーション部',
            '品質管理部',
            'ESG推進室']

biz_sum_list = []

for biz_name in biz_list:
    biz_vertical_sum_sheet = biz[biz["部門名称"].str.contains(biz_name)]
    biz_sum = biz_vertical_sum_sheet["出勤時間"].sum()
    biz_sum_list.append(biz_sum)

df_biz_sum = pd.DataFrame([biz_list,biz_sum_list]).T
df_biz_sum.columns = ['部門名称','出勤時間']

df_biz_sum['データ種別'] = '配賦用biz'

df_biz_sum

               部門名称        出勤時間   データ種別
0               社長室    20.53125  配賦用biz
1             経営企画部   43.953472  配賦用biz
2             人事総務部  132.093056  配賦用biz
3               経理部   36.489583  配賦用biz
4               法務部   26.073611  配賦用biz
5             内部監査室    6.577778  配賦用biz
6            BU1営業部  219.475694  配賦用biz
7            BU2営業部  200.959722  配賦用biz
8            BU3営業部   64.934028  配賦用biz
9         アライアンス戦略室   95.234722  配賦用biz
10         マーケティング部  222.894444  配賦用biz
11  カスタマーコミュニケーション部  349.334028  配賦用biz
12            品質管理部   46.390278  配賦用biz
13           ESG推進室   20.222222  配賦用biz

In [37]:
df_biz_sum.to_excel('出力結果/biz縦計データ.xlsx')

##dev時間縦系計
- dev（保守・運用）は部門ごとに縦系する必要がある

In [38]:
dev = pd.read_excel('出力結果/時間部門配賦後.xlsx')

###部門名称からdevのものを探し出し、抽出して縦計する

In [39]:
#部門名称の列にNaNが存在すると実行できないので半角スペースに変換しておく
dev['部門名称']= dev['部門名称'].fillna(' ')


dev_list = ['BU1プロダクト部',
            'BU2プロダクト部',
            'BU3プロダクト部',
            'プロダクト基盤開発部',
            'プラットフォームビジネス開発室',
            'デザインセンター',
            'エンジニアリングオフィス',
            '業務システム部']

In [40]:
# Devに配賦済みのものだけ抽出する
dev_member = category_name_hour[category_name_hour['部門名称'].isin(dev_list)]
dev_member

          部門名称               氏名      出勤時間
32   BU1プロダクト部             大友裕明  5.731944
33   BU1プロダクト部             島田祐輝  7.018056
34    デザインセンター             植松裕美  7.627083
35   BU1プロダクト部  ﾃﾞﾌﾞﾘｯﾄﾆﾉﾐﾔｱﾘｿﾝ  6.368750
36   BU1プロダクト部             松田一輝  6.446528
..         ...              ...       ...
295    業務システム部             松山博樹  7.084722
296    業務システム部             伊藤史仁  7.502778
297    業務システム部             吉川大樹  7.178472
298    業務システム部            菊池将太郎  6.808333
299    業務システム部             荒関翔太  6.579167

[95 rows x 3 columns]

In [41]:
# 部門配賦対象者じゃないdevの人を、部門ごとに集計する
dev_not_haihu = dev_member[~(dev_member['氏名'].isin(dev['氏名']))].groupby('部門名称').sum('出勤時間')
dev_not_haihu

                      出勤時間
部門名称
BU2プロダクト部        11.413194
プラットフォームビジネス開発室  13.927083
プロダクト基盤開発部       13.556944
業務システム部           6.579167

In [42]:
## 保守、運用をひとまとめにする
df_dev_hosyu = dev.groupby('部門名称')['0:保守、運用'].sum().reset_index()
df_dev_hosyu['データ種別'] = '配賦用dev'
df_dev_hosyu

              部門名称    0:保守、運用   データ種別
0        BU1プロダクト部  25.183333  配賦用dev
1        BU2プロダクト部  20.956250  配賦用dev
2        BU3プロダクト部   8.235417  配賦用dev
3     エンジニアリングオフィス   5.603472  配賦用dev
4         デザインセンター  61.454167  配賦用dev
5  プラットフォームビジネス開発室   6.413889  配賦用dev
6       プロダクト基盤開発部  73.516667  配賦用dev
7          業務システム部  18.190278  配賦用dev

In [43]:
## 配賦されないもののみ集計
df_dev_sum = pd.merge(dev_not_haihu, df_dev_hosyu, on='部門名称', how = 'right')
df_dev_sum['出勤時間'] = df_dev_sum['出勤時間'].fillna(0)

df_dev_sum['出勤時間'] = df_dev_sum['出勤時間'] + df_dev_sum['0:保守、運用'] 
df_dev_sum = df_dev_sum[['部門名称', '出勤時間', 'データ種別']]

In [44]:
df_dev_sum

              部門名称       出勤時間   データ種別
0        BU1プロダクト部  25.183333  配賦用dev
1        BU2プロダクト部  32.369444  配賦用dev
2        BU3プロダクト部   8.235417  配賦用dev
3     エンジニアリングオフィス   5.603472  配賦用dev
4         デザインセンター  61.454167  配賦用dev
5  プラットフォームビジネス開発室  20.340972  配賦用dev
6       プロダクト基盤開発部  87.073611  配賦用dev
7          業務システム部  24.769444  配賦用dev

In [45]:
df_dev_sum.to_excel('出力結果/dev縦計データ.xlsx')

##PLをbiz,dev,pjの合計で割ってそれぞれに配布する

In [46]:
import pandas as pd
PL = pd.read_excel(PL_excel,sheet_name = 'PL',header = None)
PL.columns = ['PL科目','PL科目金額']

PL

     PL科目     PL科目金額
0      賞与        0.0
1   法定福利費  2266464.0
2   福利厚生費   267043.0
3     採用費  1343332.0
4   広告宣伝費        0.0
5    荷造運賃   536138.0
6     交際費   175575.0
7   旅費交通費   241439.0
8     通信費   800707.0
9    消耗品費  4075862.0
10  水道光熱費   798625.0
11    保険料   411113.0
12    修繕費    59497.0
13    研修費        0.0
14   地代家賃  8961834.0
15  支払手数料  9971422.0
16    諸会費     2833.0
17    会議費  2849910.0
18   租税公課  1753000.0
19   支払報酬        0.0
20  減価償却費  1385353.0
21     雑費   191552.0
22   為替差益        0.0
23    雑収入    50000.0
24   為替差損        0.0

##合計値算出

In [47]:
PJ = df_pj_sum['出勤時間'].sum()
BIZ = df_biz_sum['出勤時間'].sum()
DEV = df_dev_sum['出勤時間'].sum()

all_sum = PJ + BIZ + DEV

## ここの検算合ってないと間違ってるから、修正する
if category_name_hour['出勤時間'][1] == all_sum:
    print('OK')
else:
    print('一致してないからロジック確認お願いします')

OK

In [48]:
PL_value_list = list(PL['PL科目金額'])
PL_value_list

PL_pj_list = []
PL_biz_list = []
PL_dev_list = []

for PL_value in PL_value_list:
    divide_category_value = PL_value / all_sum
    
    #それぞれの値で掛けて、リストに入れる
    PL_pj = divide_category_value * PJ
    PL_biz = divide_category_value * BIZ
    PL_dev = divide_category_value * DEV

    PL_pj_list.append(PL_pj)
    PL_biz_list.append(PL_biz)
    PL_dev_list.append(PL_dev)

##それぞれのリストにある数値を一か所にまとめる

In [49]:
df_PL_divide_category = pd.DataFrame([PL_pj_list, PL_biz_list, PL_dev_list]).T

df_PL_divide_category.columns = ['配賦用Biz','配賦用dev','配賦用PJ']

df_PL_divide_category

          配賦用Biz        配賦用dev         配賦用PJ
0   0.000000e+00  0.000000e+00  0.000000e+00
1   4.123811e+05  1.573321e+06  2.807617e+05
2   4.858824e+04  1.853744e+05  3.308036e+04
3   2.444181e+05  9.325066e+05  1.664073e+05
4   0.000000e+00  0.000000e+00  0.000000e+00
5   9.754983e+04  3.721733e+05  6.641491e+04
6   3.194571e+04  1.218797e+05  2.174962e+04
7   4.392961e+04  1.676008e+05  2.990862e+04
8   1.456879e+05  5.558303e+05  9.918880e+04
9   7.415995e+05  2.829359e+06  5.049036e+05
10  1.453091e+05  5.543850e+05  9.893089e+04
11  7.480164e+04  2.853841e+05  5.092725e+04
12  1.082543e+04  4.130129e+04  7.370281e+03
13  0.000000e+00  0.000000e+00  0.000000e+00
14  1.630598e+06  6.221075e+06  1.110161e+06
15  1.814291e+06  6.921906e+06  1.235225e+06
16  5.154618e+02  1.966596e+03  3.509422e+02
17  5.185386e+05  1.978334e+06  3.530369e+05
18  3.189568e+05  1.216888e+06  2.171555e+05
19  0.000000e+00  0.000000e+00  0.000000e+00
20  2.520637e+05  9.616765e+05  1.716127e+05
21  3.485272e+04  1.329705e+05  2.372880e+04
22  0.000000e+00  0.000000e+00  0.000000e+00
23  9.097455e+03  3.470872e+04  6.193826e+03
24  0.000000e+00  0.000000e+00  0.000000e+00

##PLシートの情報付与

In [50]:
df_PL_divide_category_goal = pd.concat([PL,df_PL_divide_category],axis=1)
df_PL_divide_category_goal

     PL科目     PL科目金額        配賦用Biz        配賦用dev         配賦用PJ
0      賞与        0.0  0.000000e+00  0.000000e+00  0.000000e+00
1   法定福利費  2266464.0  4.123811e+05  1.573321e+06  2.807617e+05
2   福利厚生費   267043.0  4.858824e+04  1.853744e+05  3.308036e+04
3     採用費  1343332.0  2.444181e+05  9.325066e+05  1.664073e+05
4   広告宣伝費        0.0  0.000000e+00  0.000000e+00  0.000000e+00
5    荷造運賃   536138.0  9.754983e+04  3.721733e+05  6.641491e+04
6     交際費   175575.0  3.194571e+04  1.218797e+05  2.174962e+04
7   旅費交通費   241439.0  4.392961e+04  1.676008e+05  2.990862e+04
8     通信費   800707.0  1.456879e+05  5.558303e+05  9.918880e+04
9    消耗品費  4075862.0  7.415995e+05  2.829359e+06  5.049036e+05
10  水道光熱費   798625.0  1.453091e+05  5.543850e+05  9.893089e+04
11    保険料   411113.0  7.480164e+04  2.853841e+05  5.092725e+04
12    修繕費    59497.0  1.082543e+04  4.130129e+04  7.370281e+03
13    研修費        0.0  0.000000e+00  0.000000e+00  0.000000e+00
14   地代家賃  8961834.0  1.630598e+06  6.221075e+06  1.110161e+06
15  支払手数料  9971422.0  1.814291e+06  6.921906e+06  1.235225e+06
16    諸会費     2833.0  5.154618e+02  1.966596e+03  3.509422e+02
17    会議費  2849910.0  5.185386e+05  1.978334e+06  3.530369e+05
18   租税公課  1753000.0  3.189568e+05  1.216888e+06  2.171555e+05
19   支払報酬        0.0  0.000000e+00  0.000000e+00  0.000000e+00
20  減価償却費  1385353.0  2.520637e+05  9.616765e+05  1.716127e+05
21     雑費   191552.0  3.485272e+04  1.329705e+05  2.372880e+04
22   為替差益        0.0  0.000000e+00  0.000000e+00  0.000000e+00
23    雑収入    50000.0  9.097455e+03  3.470872e+04  6.193826e+03
24   為替差損        0.0  0.000000e+00  0.000000e+00  0.000000e+00

In [51]:
# 四捨五入して行う
df_PL_divide_category_goal['配賦用Biz'] = df_PL_divide_category_goal['配賦用Biz'].round()
df_PL_divide_category_goal['配賦用dev'] = df_PL_divide_category_goal['配賦用dev'].round()
df_PL_divide_category_goal['配賦用PJ'] =df_PL_divide_category_goal['PL科目金額'] - df_PL_divide_category_goal['配賦用Biz'] - df_PL_divide_category_goal['配賦用dev']

In [52]:
df_PL_divide_category_goal

     PL科目     PL科目金額     配賦用Biz     配賦用dev      配賦用PJ
0      賞与        0.0        0.0        0.0        0.0
1   法定福利費  2266464.0   412381.0  1573321.0   280762.0
2   福利厚生費   267043.0    48588.0   185374.0    33081.0
3     採用費  1343332.0   244418.0   932507.0   166407.0
4   広告宣伝費        0.0        0.0        0.0        0.0
5    荷造運賃   536138.0    97550.0   372173.0    66415.0
6     交際費   175575.0    31946.0   121880.0    21749.0
7   旅費交通費   241439.0    43930.0   167601.0    29908.0
8     通信費   800707.0   145688.0   555830.0    99189.0
9    消耗品費  4075862.0   741599.0  2829359.0   504904.0
10  水道光熱費   798625.0   145309.0   554385.0    98931.0
11    保険料   411113.0    74802.0   285384.0    50927.0
12    修繕費    59497.0    10825.0    41301.0     7371.0
13    研修費        0.0        0.0        0.0        0.0
14   地代家賃  8961834.0  1630598.0  6221075.0  1110161.0
15  支払手数料  9971422.0  1814291.0  6921906.0  1235225.0
16    諸会費     2833.0      515.0     1967.0      351.0
17    会議費  2849910.0   518539.0  1978334.0   353037.0
18   租税公課  1753000.0   318957.0  1216888.0   217155.0
19   支払報酬        0.0        0.0        0.0        0.0
20  減価償却費  1385353.0   252064.0   961677.0   171612.0
21     雑費   191552.0    34853.0   132970.0    23729.0
22   為替差益        0.0        0.0        0.0        0.0
23    雑収入    50000.0     9097.0    34709.0     6194.0
24   為替差損        0.0        0.0        0.0        0.0

In [53]:
df_PL_divide_category_goal.to_excel('出力結果/PL配賦(biz,dev,pjに3分割).xlsx')

## biz,pj,devの縦計データ結合

In [54]:
biz_dev_pj_concat = pd.concat([df_biz_sum,df_pj_sum,df_dev_sum],axis=0)
biz_dev_pj_concat.reset_index(inplace=True,drop=True)

In [55]:
biz_dev_pj_concat['出勤時間'].sum()

2139.468055555555

## PL各項目を、各部門の時間の合計で割り、一単位当たりを求める

In [56]:
#各部門時間の合計
print(df_biz_sum['出勤時間'].sum())
print(df_dev_sum['出勤時間'].sum())
print(df_pj_sum['出勤時間'].sum())

1485.1638888888888
265.0298611111111
389.27430555555554

### 一単位で割る

In [57]:
#時間計で割って一単位当たりへ変換
df_PL_divide_category_goal['一単位当たり配賦用Biz'] = df_PL_divide_category_goal['配賦用Biz'] / df_biz_sum['出勤時間'].sum()
df_PL_divide_category_goal['一単位当たり配賦用dev'] = df_PL_divide_category_goal['配賦用dev'] / df_dev_sum['出勤時間'].sum()
df_PL_divide_category_goal['一単位当たり配賦用PJ']  = df_PL_divide_category_goal['配賦用PJ']  / df_pj_sum['出勤時間'].sum()

df_PL_divide_category_goal.head()

,PL科目,PL科目金額,配賦用Biz,配賦用dev,配賦用PJ,一単位当たり配賦用Biz,一単位当たり配賦用dev,一単位当たり配賦用PJ
0,賞与,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,法定福利費,2266464.0,412381.0,1573321.0,280762.0,277.666999,5936.391444,721.244624
2,福利厚生費,267043.0,48588.0,185374.0,33081.0,32.715581,699.445712,84.981206
3,採用費,1343332.0,244418.0,932507.0,166407.0,164.573083,3518.497863,427.480051
4,広告宣伝費,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

##biz配賦2段階目

In [58]:
biz_unit1_sum =  df_PL_divide_category_goal['一単位当たり配賦用Biz'].sum()
biz_category_calc_list = []

for biz_name in df_biz_sum['出勤時間']:
    biz_category_sum = biz_name * biz_unit1_sum
    biz_category_calc_list.append(biz_category_sum)

df_biz_sum['配賦合計'] = biz_category_calc_list

In [75]:
#bizをさらに配賦する
category_name_number = 0
#各PL科目の1単位分 * 各部門の出勤時間
for unit_1 in df_PL_divide_category_goal['一単位当たり配賦用Biz']:
    biz_unit_1_list = []
    #部門指定して出勤時間を掛ける
    for biz_time in df_biz_sum['出勤時間']:
        #1単位掛ける各部門
        calc_biz_unit_1 = unit_1 * biz_time
        biz_unit_1_list.append(calc_biz_unit_1)

    #bizのシート（部門名称、出勤時間、データ種別）の行方向に情報を足していく
    df_biz_sum[df_PL_divide_category_goal['PL科目'][category_name_number]] = biz_unit_1_list
    category_name_number = category_name_number+1

df_biz_sum = df_biz_sum.round()
df_biz_sum

,部門名称,出勤時間,データ種別,配賦合計,賞与,法定福利費,福利厚生費,採用費,広告宣伝費,荷造運賃,...,支払手数料,諸会費,会議費,租税公課,支払報酬,減価償却費,雑費,為替差益,雑収入,為替差損
0,社長室,20.53125,配賦用biz,90907.0,0.0,5701.0,672.0,3379.0,0.0,1349.0,...,25081.0,7.0,7168.0,4409.0,0.0,3485.0,482.0,0.0,126.0,0.0
1,経営企画部,43.953472,配賦用biz,194615.0,0.0,12204.0,1438.0,7234.0,0.0,2887.0,...,53694.0,15.0,15346.0,9440.0,0.0,7460.0,1031.0,0.0,269.0,0.0
2,人事総務部,132.093056,配賦用biz,584876.0,0.0,36678.0,4322.0,21739.0,0.0,8676.0,...,161366.0,46.0,46120.0,28369.0,0.0,22419.0,3100.0,0.0,809.0,0.0
3,経理部,36.489583,配賦用biz,161567.0,0.0,10132.0,1194.0,6005.0,0.0,2397.0,...,44576.0,13.0,12740.0,7837.0,0.0,6193.0,856.0,0.0,224.0,0.0
4,法務部,26.073611,配賦用biz,115448.0,0.0,7240.0,853.0,4291.0,0.0,1713.0,...,31852.0,9.0,9103.0,5600.0,0.0,4425.0,612.0,0.0,160.0,0.0
5,内部監査室,6.577778,配賦用biz,29125.0,0.0,1826.0,215.0,1083.0,0.0,432.0,...,8035.0,2.0,2297.0,1413.0,0.0,1116.0,154.0,0.0,40.0,0.0
6,BU1営業部,219.475694,配賦用biz,971786.0,0.0,60941.0,7180.0,36120.0,0.0,14416.0,...,268114.0,76.0,76629.0,47135.0,0.0,37250.0,5151.0,0.0,1344.0,0.0
7,BU2営業部,200.959722,配賦用biz,889802.0,0.0,55800.0,6575.0,33073.0,0.0,13200.0,...,245494.0,70.0,70164.0,43159.0,0.0,34107.0,4716.0,0.0,1231.0,0.0
8,BU3営業部,64.934028,配賦用biz,287512.0,0.0,18030.0,2124.0,10686.0,0.0,4265.0,...,79324.0,23.0,22671.0,13945.0,0.0,11021.0,1524.0,0.0,398.0,0.0
9,アライアンス戦略室,95.234722,配賦用biz,421677.0,0.0,26444.0,3116.0,15673.0,0.0,6255.0,...,116340.0,33.0,33251.0,20453.0,0.0,16163.0,2235.0,0.0,583.0,0.0
10,マーケティング部,222.894444,配賦用biz,986923.0,0.0,61890.0,7292.0,36682.0,0.0,14640.0,...,272290.0,77.0,77823.0,47869.0,0.0,37830.0,5231.0,0.0,1365.0,0.0
11,カスタマーコミュニケーション部,349.334028,配賦用biz,1546767.0,0.0,96999.0,11429.0,57491.0,0.0,22945.0,...,426750.0,121.0,121969.0,75024.0,0.0,59289.0,8198.0,0.0,2140.0,0.0
12,品質管理部,46.390278,配賦用biz,205405.0,0.0,12881.0,1518.0,7635.0,0.0,3047.0,...,56671.0,16.0,16197.0,9963.0,0.0,7873.0,1089.0,0.0,284.0,0.0
13,ESG推進室,20.222222,配賦用biz,89539.0,0.0,5615.0,662.0,3328.0,0.0,1328.0,...,24704.0,7.0,7061.0,4343.0,0.0,3432.0,475.0,0.0,124.0,0.0

##df_biz_sumを縦計して計算元と比較する。差額を任意の部門に足し引きする。

In [76]:
# まずは四捨五入した結果を出力
df_biz_sum_calc_fraction = df_biz_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'],axis=1)

# 四捨五入後の勘定科目の合計値を出力
calc_fraction = df_biz_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'],axis=1).sum(axis=0)
calc_fraction = list(calc_fraction)

# 配布用の合計値と四捨五入後の金額を引く
calc_fraction = df_PL_divide_category_goal['配賦用Biz'] - calc_fraction


#一番上の項目に、上記金額を足し合わせる
df_biz_change_fraction = list(df_biz_sum_calc_fraction.loc[0]) + calc_fraction
df_biz_sum_calc_fraction.loc[0] = list(df_biz_change_fraction)

In [77]:
#加工後（端数処理後）データと計算のため切り離した['部門名称','出勤時間','データ種別','配賦合計']を結合する
df_biz_sum = pd.concat([df_biz_sum[['部門名称','出勤時間','データ種別','配賦合計']],df_biz_sum_calc_fraction],axis=1)

In [88]:
df_biz_sum.sum()

部門名称     社長室経営企画部人事総務部経理部法務部内部監査室BU1営業部BU2営業部BU3営業部アライア...
出勤時間                                           1485.163889
データ種別    配賦用biz配賦用biz配賦用biz配賦用biz配賦用biz配賦用biz配賦用biz配賦用b...
配賦合計                                             6575949.0
賞与                                                     0.0
法定福利費                                             412381.0
福利厚生費                                              48588.0
採用費                                               244418.0
広告宣伝費                                                  0.0
荷造運賃                                               97550.0
交際費                                                31946.0
旅費交通費                                              43930.0
通信費                                               145688.0
消耗品費                                              741599.0
水道光熱費                                             145309.0
保険料                                                74802.0
修繕費                                                10825.0
研修費                                                    0.0
地代家賃                                             1630598.0
支払手数料                                            1814291.0
諸会費                                                  515.0
会議費                                               518539.0
租税公課                                              318957.0
支払報酬                                                   0.0
減価償却費                                             252064.0
雑費                                                 34853.0
為替差益                                                   0.0
雑収入                                                 9097.0
為替差損                                                   0.0
dtype: object

## dev配賦2段階目

In [89]:
#各部門にPLの配賦用dev合計して配賦（端数処理のため）
dev_unit1_sum =  df_PL_divide_category_goal['一単位当たり配賦用dev'].sum()
dev_category_calc_list = []

for dev_name in df_dev_sum['出勤時間']:
    dev_category_sum = dev_name * dev_unit1_sum
    dev_category_calc_list.append(dev_category_sum)

df_dev_sum['配賦合計'] = dev_category_calc_list

In [90]:
df_dev_sum

              部門名称       出勤時間   データ種別          配賦合計
0        BU1プロダクト部  25.183333  配賦用dev  2.383941e+06
1        BU2プロダクト部  32.369444  配賦用dev  3.064203e+06
2        BU3プロダクト部   8.235417  配賦用dev  7.795930e+05
3     エンジニアリングオフィス   5.603472  配賦用dev  5.304440e+05
4         デザインセンター  61.454167  配賦用dev  5.817463e+06
5  プラットフォームビジネス開発室  20.340972  配賦用dev  1.925547e+06
6       プロダクト基盤開発部  87.073611  配賦用dev  8.242688e+06
7          業務システム部  24.769444  配賦用dev  2.344761e+06

In [91]:
#devをさらに配賦する
category_name_number = 0
#各PL科目の1単位分 * 各部門の出勤時間
for unit_1 in df_PL_divide_category_goal['一単位当たり配賦用dev']:
    dev_unit_1_list = []
    #部門指定して出勤時間を掛ける
    for dev_time in df_dev_sum['出勤時間']:
        #1単位掛ける各部門
        calc_dev_unit_1 = unit_1 * dev_time
        dev_unit_1_list.append(calc_dev_unit_1)

    #devのシート（部門名称、出勤時間、データ種別）の行方向に情報を足していく
    df_dev_sum[df_PL_divide_category_goal['PL科目'][category_name_number]] = dev_unit_1_list
    category_name_number = category_name_number+1

tmp = df_dev_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'], axis=1).round()
df_dev_sum = df_dev_sum[['部門名称','出勤時間','データ種別','配賦合計']]

df_dev_sum = pd.concat([df_dev_sum, tmp], axis=1)

df_dev_sum

,部門名称,出勤時間,データ種別,配賦合計,賞与,法定福利費,福利厚生費,採用費,広告宣伝費,荷造運賃,...,支払手数料,諸会費,会議費,租税公課,支払報酬,減価償却費,雑費,為替差益,雑収入,為替差損
0,BU1プロダクト部,25.183333,配賦用dev,2.383941e+06,0.0,149498.0,17614.0,88608.0,0.0,35364.0,...,657725.0,187.0,187983.0,115630.0,0.0,91379.0,12635.0,0.0,3298.0,0.0
1,BU2プロダクト部,32.369444,配賦用dev,3.064203e+06,0.0,192158.0,22641.0,113892.0,0.0,45455.0,...,845408.0,240.0,241624.0,148625.0,0.0,117455.0,16240.0,0.0,4239.0,0.0
2,BU3プロダクト部,8.235417,配賦用dev,7.795930e+05,0.0,48889.0,5760.0,28976.0,0.0,11565.0,...,215088.0,61.0,61474.0,37813.0,0.0,29883.0,4132.0,0.0,1079.0,0.0
3,エンジニアリングオフィス,5.603472,配賦用dev,5.304440e+05,0.0,33264.0,3919.0,19716.0,0.0,7869.0,...,146348.0,42.0,41828.0,25728.0,0.0,20333.0,2811.0,0.0,734.0,0.0
4,デザインセンター,61.454167,配賦用dev,5.817463e+06,0.0,364816.0,42984.0,216226.0,0.0,86298.0,...,1605027.0,456.0,458729.0,282168.0,0.0,222990.0,30833.0,0.0,8048.0,0.0
5,プラットフォームビジネス開発室,20.340972,配賦用dev,1.925547e+06,0.0,120752.0,14227.0,71570.0,0.0,28564.0,...,531254.0,151.0,151837.0,93396.0,0.0,73808.0,10205.0,0.0,2664.0,0.0
6,プロダクト基盤開発部,87.073611,配賦用dev,8.242688e+06,0.0,516903.0,60903.0,306368.0,0.0,122275.0,...,2274141.0,646.0,649967.0,399800.0,0.0,315952.0,43686.0,0.0,11403.0,0.0
7,業務システム部,24.769444,配賦用dev,2.344761e+06,0.0,147041.0,17325.0,87151.0,0.0,34783.0,...,646915.0,184.0,184893.0,113729.0,0.0,89877.0,12427.0,0.0,3244.0,0.0

In [96]:
#まずは四捨五入した値を出力
df_dev_sum_calc_fraction = df_dev_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'],axis=1)
# 四捨五入前の金額を出力
calc_fraction = df_dev_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'],axis=1).sum(axis=0)
calc_fraction = list(calc_fraction)

# 合計値から四捨五入後の金額を
calc_fraction = df_PL_divide_category_goal['配賦用dev'] - calc_fraction
#calc_fraction

#一番上の行で、足し引き算する
df_dev_change_fraction = list(df_dev_sum_calc_fraction.loc[0]) + calc_fraction
df_dev_sum_calc_fraction.loc[0] = list(df_dev_change_fraction)
df_dev_sum_calc_fraction.sum()

賞与             0.0
法定福利費    1573321.0
福利厚生費     185374.0
採用費       932507.0
広告宣伝費          0.0
荷造運賃      372173.0
交際費       121880.0
旅費交通費     167601.0
通信費       555830.0
消耗品費     2829359.0
水道光熱費     554385.0
保険料       285384.0
修繕費        41301.0
研修費            0.0
地代家賃     6221075.0
支払手数料    6921906.0
諸会費         1967.0
会議費      1978334.0
租税公課     1216888.0
支払報酬           0.0
減価償却費     961677.0
雑費        132970.0
為替差益           0.0
雑収入        34709.0
為替差損           0.0
dtype: float64

In [97]:
#加工後（端数処理後）データと計算のため切り離した['部門名称','出勤時間','データ種別','配賦合計']を結合する
df_dev_sum = pd.concat([df_dev_sum[['部門名称','出勤時間','データ種別','配賦合計']],df_dev_sum_calc_fraction],axis=1)

## pj配賦二段階目

In [112]:
#各部門にPLの配賦用Biz合計して配賦（端数処理のため）
pj_unit1_sum =  df_PL_divide_category_goal['一単位当たり配賦用PJ'].sum()
pj_category_calc_list = []

for pj_name in df_pj_sum['出勤時間']:
    pj_category_sum = pj_name * pj_unit1_sum
    pj_category_calc_list.append(pj_category_sum)

df_pj_sum['配賦合計'] = pj_category_calc_list

In [113]:
#pjをさらに配賦する
category_name_number = 0
#各PL科目の1単位分 * 各部門の出勤時間
for unit_1 in df_PL_divide_category_goal['一単位当たり配賦用PJ']:
    pj_unit_1_list = []
    #部門指定して出勤時間を掛ける
    for pj_time in df_pj_sum['出勤時間']:
        #1単位掛ける各部門
        calc_pj_unit_1 = unit_1 * pj_time
        pj_unit_1_list.append(calc_pj_unit_1)

    #bizのシート（部門名称、出勤時間、データ種別）の行方向に情報を足していく
    df_pj_sum[df_PL_divide_category_goal['PL科目'][category_name_number]] = pj_unit_1_list
    category_name_number = category_name_number+1

df_pj_sum = df_pj_sum.round()
df_pj_sum.head()

,部門名称,出勤時間,データ種別,配賦合計,賞与,法定福利費,福利厚生費,採用費,広告宣伝費,荷造運賃,...,支払手数料,諸会費,会議費,租税公課,支払報酬,減価償却費,雑費,為替差益,雑収入,為替差損
1,49:次世代カメラ開発(SafieOne）,41.288194,配賦用PJ,474862.0,0.0,29779.0,3509.0,17650.0,0.0,7044.0,...,131014.0,37.0,37445.0,23032.0,0.0,18202.0,2517.0,0.0,657.0,0.0
2,52:解析PF,33.315972,配賦用PJ,383172.0,0.0,24029.0,2831.0,14242.0,0.0,5684.0,...,105717.0,30.0,30215.0,18585.0,0.0,14687.0,2031.0,0.0,530.0,0.0
3,53:AIApp,55.986806,配賦用PJ,643913.0,0.0,40380.0,4758.0,23933.0,0.0,9552.0,...,177654.0,50.0,50775.0,31232.0,0.0,24682.0,3413.0,0.0,891.0,0.0
4,61:Enterprise Toolマイグレーション,2.026389,配賦用PJ,23306.0,0.0,1462.0,172.0,866.0,0.0,346.0,...,6430.0,2.0,1838.0,1130.0,0.0,893.0,124.0,0.0,32.0,0.0
5,63:在庫システム,6.379861,配賦用PJ,73376.0,0.0,4601.0,542.0,2727.0,0.0,1088.0,...,20244.0,6.0,5786.0,3559.0,0.0,2813.0,389.0,0.0,102.0,0.0

In [114]:
#計算スペースを取得して、差を計算
df_pj_sum_calc_fraction = df_pj_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'],axis=1)
calc_fraction = df_pj_sum.drop(['部門名称','出勤時間','データ種別','配賦合計'],axis=1).sum(axis=0)
calc_fraction = list(calc_fraction)
calc_fraction = df_PL_divide_category_goal['配賦用PJ'] - calc_fraction
len(calc_fraction)

25

In [115]:
len(df_pj_sum_calc_fraction.iloc[1])

25

In [116]:
#一番上の行で、足し引き算する
df_pj_change_fraction = list(df_pj_sum_calc_fraction.iloc[0]) + calc_fraction
df_pj_sum_calc_fraction.loc[1] = list(df_pj_change_fraction)
df_pj_sum_calc_fraction

,賞与,法定福利費,福利厚生費,採用費,広告宣伝費,荷造運賃,交際費,旅費交通費,通信費,消耗品費,...,支払手数料,諸会費,会議費,租税公課,支払報酬,減価償却費,雑費,為替差益,雑収入,為替差損
1,0.0,29777.0,3509.0,17651.0,0.0,7046.0,2310.0,3172.0,10519.0,53552.0,...,131014.0,39.0,37444.0,23031.0,0.0,18202.0,2517.0,0.0,657.0,0.0
2,0.0,24029.0,2831.0,14242.0,0.0,5684.0,1861.0,2560.0,8489.0,43212.0,...,105717.0,30.0,30215.0,18585.0,0.0,14687.0,2031.0,0.0,530.0,0.0
3,0.0,40380.0,4758.0,23933.0,0.0,9552.0,3128.0,4301.0,14266.0,72617.0,...,177654.0,50.0,50775.0,31232.0,0.0,24682.0,3413.0,0.0,891.0,0.0
4,0.0,1462.0,172.0,866.0,0.0,346.0,113.0,156.0,516.0,2628.0,...,6430.0,2.0,1838.0,1130.0,0.0,893.0,124.0,0.0,32.0,0.0
5,0.0,4601.0,542.0,2727.0,0.0,1088.0,356.0,490.0,1626.0,8275.0,...,20244.0,6.0,5786.0,3559.0,0.0,2813.0,389.0,0.0,102.0,0.0
6,0.0,24415.0,2877.0,14471.0,0.0,5775.0,1891.0,2601.0,8625.0,43907.0,...,107415.0,31.0,30700.0,18884.0,0.0,14923.0,2063.0,0.0,539.0,0.0
7,0.0,3073.0,362.0,1822.0,0.0,727.0,238.0,327.0,1086.0,5527.0,...,13521.0,4.0,3864.0,2377.0,0.0,1879.0,260.0,0.0,68.0,0.0
8,0.0,7027.0,828.0,4165.0,0.0,1662.0,544.0,749.0,2483.0,12637.0,...,30916.0,9.0,8836.0,5435.0,0.0,4295.0,594.0,0.0,155.0,0.0
9,0.0,23204.0,2734.0,13753.0,0.0,5489.0,1797.0,2472.0,8197.0,41728.0,...,102085.0,29.0,29177.0,17947.0,0.0,14183.0,1961.0,0.0,512.0,0.0
10,0.0,11477.0,1352.0,6802.0,0.0,2715.0,889.0,1223.0,4055.0,20639.0,...,50493.0,14.0,14431.0,8877.0,0.0,7015.0,970.0,0.0,253.0,0.0
11,0.0,6630.0,781.0,3930.0,0.0,1568.0,514.0,706.0,2342.0,11924.0,...,29171.0,8.0,8337.0,5128.0,0.0,4053.0,560.0,0.0,146.0,0.0
12,0.0,11079.0,1305.0,6566.0,0.0,2621.0,858.0,1180.0,3914.0,19923.0,...,48741.0,14.0,13931.0,8569.0,0.0,6772.0,936.0,0.0,244.0,0.0
13,0.0,4073.0,480.0,2414.0,0.0,963.0,315.0,434.0,1439.0,7324.0,...,17917.0,5.0,5121.0,3150.0,0.0,2489.0,344.0,0.0,90.0,0.0
14,0.0,17056.0,2010.0,10109.0,0.0,4035.0,1321.0,1817.0,6026.0,30672.0,...,75038.0,21.0,21447.0,13192.0,0.0,10425.0,1442.0,0.0,376.0,0.0
15,0.0,16910.0,1992.0,10022.0,0.0,4000.0,1310.0,1801.0,5974.0,30409.0,...,74395.0,21.0,21263.0,13079.0,0.0,10336.0,1429.0,0.0,373.0,0.0
16,0.0,9757.0,1150.0,5783.0,0.0,2308.0,756.0,1039.0,3447.0,17546.0,...,42926.0,12.0,12268.0,7546.0,0.0,5964.0,825.0,0.0,215.0,0.0
17,0.0,20073.0,2365.0,11897.0,0.0,4748.0,1555.0,2138.0,7092.0,36098.0,...,88313.0,25.0,25240.0,15526.0,0.0,12269.0,1697.0,0.0,443.0,0.0
18,0.0,2666.0,314.0,1580.0,0.0,631.0,206.0,284.0,942.0,4794.0,...,11727.0,3.0,3352.0,2062.0,0.0,1629.0,225.0,0.0,59.0,0.0
19,0.0,11251.0,1326.0,6668.0,0.0,2661.0,872.0,1198.0,3975.0,20233.0,...,49499.0,14.0,14147.0,8702.0,0.0,6877.0,951.0,0.0,248.0,0.0
20,0.0,3115.0,367.0,1846.0,0.0,737.0,241.0,332.0,1100.0,5602.0,...,13704.0,4.0,3917.0,2409.0,0.0,1904.0,263.0,0.0,69.0,0.0
21,0.0,1988.0,234.0,1178.0,0.0,470.0,154.0,212.0,702.0,3575.0,...,8746.0,2.0,2500.0,1538.0,0.0,1215.0,168.0,0.0,44.0,0.0
22,0.0,2714.0,320.0,1608.0,0.0,642.0,210.0,289.0,959.0,4880.0,...,11939.0,3.0,3412.0,2099.0,0.0,1659.0,229.0,0.0,60.0,0.0
23,0.0,4005.0,472.0,2374.0,0.0,947.0,310.0,427.0,1415.0,7202.0,...,17620.0,5.0,5036.0,3098.0,0.0,2448.0,338.0,0.0,88.0,0.0

In [118]:
#加工後（端数処理後）データと計算のため切り離した['部門名称','出勤時間','データ種別','配賦合計']を結合する
df_pj_sum = pd.concat([df_pj_sum[['部門名称','出勤時間','データ種別','配賦合計']],df_pj_sum_calc_fraction],axis=1)

df_pj_sum.sum()

部門名称     49:次世代カメラ開発(SafieOne）52:解析PF53:AIApp61:Enterpr...
出勤時間                                            389.274306
データ種別    配賦用PJ配賦用PJ配賦用PJ配賦用PJ配賦用PJ配賦用PJ配賦用PJ配賦用PJ配賦用PJ配...
配賦合計                                             4477106.0
賞与                                                     0.0
法定福利費                                             280762.0
福利厚生費                                              33081.0
採用費                                               166407.0
広告宣伝費                                                  0.0
荷造運賃                                               66415.0
交際費                                                21749.0
旅費交通費                                              29908.0
通信費                                                99189.0
消耗品費                                              504904.0
水道光熱費                                              98931.0
保険料                                                50927.0
修繕費                                                 7371.0
研修費                                                    0.0
地代家賃                                             1110161.0
支払手数料                                            1235225.0
諸会費                                                  351.0
会議費                                               353037.0
租税公課                                              217155.0
支払報酬                                                   0.0
減価償却費                                             171612.0
雑費                                                 23729.0
為替差益                                                   0.0
雑収入                                                 6194.0
為替差損                                                   0.0
dtype: object

In [119]:
allocation2_concat = pd.concat([df_biz_sum,df_dev_sum,df_pj_sum])
allocation2_concat.head()

,部門名称,出勤時間,データ種別,配賦合計,賞与,法定福利費,福利厚生費,採用費,広告宣伝費,荷造運賃,...,支払手数料,諸会費,会議費,租税公課,支払報酬,減価償却費,雑費,為替差益,雑収入,為替差損
0,社長室,20.53125,配賦用biz,90907.0,0.0,5701.0,670.0,3378.0,0.0,1349.0,...,25081.0,7.0,7168.0,4407.0,0.0,3486.0,481.0,0.0,126.0,0.0
1,経営企画部,43.953472,配賦用biz,194615.0,0.0,12204.0,1438.0,7234.0,0.0,2887.0,...,53694.0,15.0,15346.0,9440.0,0.0,7460.0,1031.0,0.0,269.0,0.0
2,人事総務部,132.093056,配賦用biz,584876.0,0.0,36678.0,4322.0,21739.0,0.0,8676.0,...,161366.0,46.0,46120.0,28369.0,0.0,22419.0,3100.0,0.0,809.0,0.0
3,経理部,36.489583,配賦用biz,161567.0,0.0,10132.0,1194.0,6005.0,0.0,2397.0,...,44576.0,13.0,12740.0,7837.0,0.0,6193.0,856.0,0.0,224.0,0.0
4,法務部,26.073611,配賦用biz,115448.0,0.0,7240.0,853.0,4291.0,0.0,1713.0,...,31852.0,9.0,9103.0,5600.0,0.0,4425.0,612.0,0.0,160.0,0.0

##四捨五入して、端数処理を行う
- どこかで「全体」-「なにか一つを抜いた合計」をする

In [120]:
#為替差損だけを除いた合計値を出す(端数計算のため)
#calc_fraction = allocation2_concat.drop(['部門名称','出勤時間','データ種別','配賦合計','為替差損'],axis=1)
#calc_fraction = calc_fraction.sum(axis=1)

#calc_fraction

In [121]:
#allocation2_concat['為替差損'] = allocation2_concat['配賦合計'] - calc_fraction
#allocation2_concat

## データ保存

In [122]:
emploee_excel_read = pd.read_excel(employee_excel)
kintai_excel_read = pd.read_excel(kintai_excel)
kousu_excel_read = pd.read_excel(kousu_excel)
master_excel_read = pd.read_excel(master_excel)
PL_excel_read = pd.read_excel(PL_excel)

In [123]:
with pd.ExcelWriter("最終成果物/勤務時間_PL配賦データ.xlsx") as writer:
    allocation2_concat.to_excel(writer, sheet_name='勤務時間縦計')
    df_PL_divide_category_goal.to_excel(writer, sheet_name='PL配賦')
    category_name_hour.to_excel(writer, sheet_name='縦持ち個人コード')
    emploee_excel_read.to_excel(writer,sheet_name = '従業員一覧')
    kintai_excel_read.to_excel(writer,sheet_name = '個人コード順貼付データ')
    kousu_excel_read.to_excel(writer,sheet_name = '開発工数シート')
    master.to_excel(writer,sheet_name = 'マスタ')
    PL_excel_read.to_excel(writer,sheet_name = 'PL')